.aside 
    &-cell
        padding: 20px 0
        text-align: center
        font-family: inherit
        box-shadow: $shadow
        margin: 20px 0
        background-color: $secColor
        cursor: pointer
        &:hover 
            box-shadow: $noShadow